<div class="general">
    <div class="center">
      <section id="content">
        <h2 class="subheader" v-if="!isEdit">Nuevo Esclavo</h2>
        <h2 class="subheader" v-else="!isEdit">Editar Esclavo</h2>
        <form class="mid-form" v-on:submit.prevent="agregarCiudadano()">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" v-model="user.nombre" required/>
            <p class="text-danger" v-if="submitted && !$v.user.nombre.required">
              Este campo es requerido
            </p>
          </div>

          <div class="form-group">
            <label for="apellidos">Apellidos</label>
            <input type="text" name="apellidos" v-model="user.apellido" required/>
            <p class="text-danger" v-if="submitted && !$v.user.apellido.required">
              Este campo es requerido
            </p>
          </div>

          <div class="form-group">
            <label for="edad">Edad</label>
            <input name="edad" type="text" v-model.number="user.edad" required/>
            <p class="text-danger" v-if="submitted && !$v.user.edad.required">
              Este campo es requerido
            </p>
            <p class="text-danger" v-if="submitted && !$v.user.edad.numeric">
              Debe ser un numero entero
            </p>
          </div>

          <div class="form-group radibuttons">
            <input
              type="radio"
              name="genero"
              value="Hombre"
              v-model="user.genero"
            />
            Hombre
            <input
              type="radio"
              name="genero"
              value="Mujer"
              v-model="user.genero"
            />
            Mujer
            <input
              type="radio"
              name="genero"
              value="Otro"
              v-model="user.genero"
            />
            Otro
          </div>
          <p class="text-danger" v-if="submitted && !$v.user.genero.required">
            Este campo es requerido
          </p>
          <div class="clearfix"></div>

          <input type="submit" value="Guardar" class="btn btn-success" />
        </form>
        <div class="clearfix"></div>
      </section>
      <SideBar></SideBar>
      <div class="clearfix"></div>
    </div>
  </div>