<template>
  <div class="general">
    <div class="center">
      <section id="content">
        <article class="article-item article-detail" v-if="ciudadano">
          <div class="image-wrap">
            <img src="https://picsum.photos/800/300" />
          </div>

          <h1 class="subheader">
            {{ ciudadano.nombre }} {{ ciudadano.apellido }}
          </h1>
          <span class="date"> {{ ciudadano.genero }} </span>
          <h2>Biografia del Esclavo</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
            sit amet consectetur dui. Vestibulum ac convallis urna, vitae porta
            massa. Mauris sit amet nisi in metus tempor convallis. Nulla nec
            euismod turpis. Cras luctus lorem et nisl dapibus aliquet. Curabitur
            lorem nunc, tristique a felis ac, vehicula laoreet ante. Ut auctor
            orci turpis. Cras sit amet placerat nulla, feugiat eleifend metus.
            Mauris nec convallis lectus. In gravida sapien in iaculis vulputate.
            Aliquam a rhoncus elit, sit amet pretium nisl. Vivamus egestas
            facilisis viverra. Orci varius natoque penatibus et magnis dis
            parturient montes, nascetur ridiculus mus. Ut vel lorem est. Cras et
            sapien finibus, mattis est in, condimentum nisl.
          </p>

          <div class="clearfix"></div>
          <router-link
            :to="'/editCiudadano/' + ciudadano.nroCiudadano"
            class="btn btn-warning"
            >Editar</router-link
          >
          <a
            v-on:click="deleteCiudadano(ciudadano.nroCiudadano)"
            class="btn btn-danger"
            >Eliminar</a
          >
        </article>
      </section>
      <SideBar></SideBar>
      <div class="clearfix"></div>
    </div>
  </div>
</template>
<script>
import SideBar from "../SideBar.vue";
import swal from "sweetalert";
import { obtenerCiudadano, borrarCiudadano } from "../../actions/CiudadanoActions";
export default {
  name: "DetalleCiudadano",
  components: {
    SideBar,
  },
  data() {
    return { ciudadano: null };
  },
  methods: {
    getCiudadano(ciudadanoID) {
      obtenerCiudadano(ciudadanoID).then((response) => {
        if (response.data.isSucess) {
          this.ciudadano = response.data.data;
        }
      });
    },

    deleteCiudadano(id) {
      borrarCiudadano(id)
        .then((response) => {
          if (response.data.isSucess) {
            swal(
              "Esclavo Eliminado Correctamente",
              response.data.message,
              "success"
            );
            this.$router.push("/ListaCiudadanos");
          }
        })
        .catch((error) => {
          swal("Error", error, "error");
        });
    },
  },
  mounted() {
    var id = this.$route.params.id;
    this.getCiudadano(id);
  },
};
</script>