<template src="./Ciudadano.html"></template>
<script>
import { required, numeric } from "vuelidate/lib/validators";
import {
  obtenerCiudadano,
  updateCiudadano
} from "../../actions/CiudadanoActions";
import Ciudadano from "../../Models/Ciudadano";
import SideBar from "../SideBar.vue";
import swal from "sweetalert";
export default {
  name: "EditCiudadano",
  components: {
    SideBar,
  },
  validations: {
    user: {
      nombre: { required },
      apellido: { required },
      edad: { required, numeric },
      genero: { required },
    },
  },
  data() {
    return {
      submitted: false,
      isEdit: true,
      user: new Ciudadano(),
    };
  },
  mounted() {
    var id = this.$route.params.id
    this.getCiudadano(id);
  },
  methods: {
    agregarCiudadano() {
      this.submitted = true;
      if (this.$v.$invalid) {
        return false;
      } else {
        updateCiudadano(this.user)
          .then((response) => {
            if (response.data.isSucess) {
              swal(
                "Esclavo Actualizado Correctamente",
                response.data.message,
                "success"
              );
              this.$router.push("/Ciudadano/"+this.user.nroCiudadano);
            }
          })
          .catch((error) => {
            swal("Error", error, "error");
          });
      }
    },
    getCiudadano(id) {
      obtenerCiudadano(id)
        .then((response) => {
          if (response.data.isSucess) {
            this.user = response.data.data
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>