<section id="items-component">
    <div id="item-list" v-if="ciudadanos && ciudadanos.length >= 1">
      <article
        class="article-item"
        v-for="ciudadano in ciudadanos"
        :key="ciudadano.nroCiudadano"
      >
        <div class="image-wrap">
          <img src="https://picsum.photos/130/130" />
        </div>

        <h2><router-link :to="{name:'ciudadano', params: {id:ciudadano.nroCiudadano}}">
          {{ ciudadano.nombre }} {{ ciudadano.apellido }}
          </router-link></h2>
        <span class="date"> Genero: {{ ciudadano.genero }} </span>
        <span class="date"> Edad: {{ ciudadano.edad }} </span>
        <a href="#"> Esclavo N° {{ ciudadano.nroCiudadano }}</a>

        <div class="clearfix"></div>
      </article>
    </div>
    <div v-else-if="ciudadanos && ciudadanos.length < 1">
      No Hay Datos para mostrar
    </div>
    <div v-else>Cargando....</div>
  </section>