<template>
  <div class="general">
    <div class="center">
      <section id="content">
        <h2 class="subheader">Lista de Esclavos</h2>
        <div id="articles" v-if="ciudadanos">
          <ItemList :ciudadanos="ciudadanos" ></ItemList>
        </div>
      </section>
      <SideBar></SideBar>
      <div class="clearfix"></div>
    </div>
  </div>
</template>
<script>
import { listarCiudadanos } from "../../actions/CiudadanoActions";
import ItemList from "./ItemCiudadano.vue";
import SideBar from "../SideBar.vue";
export default {
  name: "ListadoCiudadanos",
  components: {
    SideBar,
    ItemList,
  },
  data() {
    return { ciudadanos: [] };
  },
  methods: {
    getCiudadanos() {
      listarCiudadanos().then((response) => {
        if (response.data.isSucess) {
          this.ciudadanos = response.data.data;
        }
      });
    },
  },
  mounted() {
    this.getCiudadanos();
  },
};
</script>