<template src="./Ciudadano.html">
</template>
<script>
import { required, numeric } from "vuelidate/lib/validators";
import { insertCiudadano } from '../../actions/CiudadanoActions';
import Ciudadano from "../../Models/Ciudadano";
import SideBar from "../SideBar.vue";
import swal from "sweetalert";
export default {
  name: "NuevoCiudadano",
  components: {
    SideBar,
  },
  validations: {
    user: {
      nombre: { required },
      apellido: { required },
      edad: { required, numeric },
      genero: {required}
    },
  },
  data() {
    return {
      isEdit: false,
      submitted: false,
      user: new Ciudadano (0,'','',null,''),
    };
  },
  methods: {
    agregarCiudadano() {
      this.submitted = true;
       if (this.$v.$invalid) {
        return false;
      } else {
        insertCiudadano(this.user)
          .then((response) => {
            if (response.data.isSucess) {
              swal("Esclavo agregado Correctamente", response.data.message,
              'success');
              this.$router.push("/ListaCiudadanos");
            }
          })
          .catch((error) => {
            swal("Error", error,
              'error');
          });
      }
    },
  },
};
</script>