<template>
  <div class="general">
    <div class="center">
      <section id="content">
        <article class="article-item article-detail" v-if="tarea">
          <div class="image-wrap">
            <img src="https://picsum.photos/800/300" />
          </div>

          <h1 class="subheader">
            {{ tarea.nombre }}
          </h1>
          <h2>Descripcion </h2>
          <p>
            {{tarea.descripcion}}
          </p>

          <div class="clearfix"></div>
          <router-link
            :to="'/editTarea/' + tarea.idTarea"
            class="btn btn-warning"
            >Editar</router-link
          >
          <a
            v-on:click="deleteTarea(tarea.idTarea)"
            class="btn btn-danger"
            >Eliminar</a
          >
        </article>
      </section>
      <SideBar></SideBar>
      <div class="clearfix"></div>
    </div>
  </div>
</template>
<script>
import SideBar from "../SideBar.vue";
import swal from "sweetalert";
import { obtenerTarea, borrarTarea } from "../../actions/TareaActions";
export default {
  name: "DetalleTarea",
  components: {
    SideBar,
  },
  data() {
    return { tarea: null };
  },
  methods: {
    getTarea(tareaID) {
      obtenerTarea(tareaID).then((response) => {
        if (response.data.isSucess) {
          this.tarea = response.data.data;
        }
      });
    },

    deleteTarea(id) {
      borrarTarea(id)
        .then((response) => {
          if (response.data.isSucess) {
            swal(
              "Tarea Eliminada Correctamente",
              response.data.message,
              "success"
            );
            this.$router.push("/ListaTareas");
          }
        })
        .catch((error) => {
          swal("Error", error, "error");
        });
    },
  },
  mounted() {
    var id = this.$route.params.id;
    this.getTarea(id);
  },
};
</script>