<template src="./Tarea.html"></template>
<script>
import { required } from "vuelidate/lib/validators";
import { obtenerTarea, updateTarea } from "../../actions/TareaActions";
import { listarDias } from "../../actions/DiaSemanaActions";
import { listarCiudadanos } from "../../actions/CiudadanoActions";
import Tarea from "../../Models/Tarea";
import SideBar from "../SideBar.vue";
import swal from "sweetalert";
export default {
  name: "EditTarea",
  components: {
    SideBar,
  },
  validations: {
    tarea: {
      nombre: {
        required,
      },
      descripcion: {
        required,
      },
    },
  },
  data() {
    return {
      submitted: false,
      isEdit: true,
      tarea: new Tarea(),
      ciudadanos:[],
      dias:[]
    };
  },
  mounted() {
    var id = this.$route.params.id;
    this.getDias();
    this.getCiudadanos();
    this.getTarea(id);
  },
  methods: {
    getDias() {
      listarDias().then((response) => {
        if (response.data.isSucess) {
          this.dias = response.data.data;
        }
      });
    },
    getCiudadanos() {
      listarCiudadanos().then((response) => {
        if (response.data.isSucess) {
          this.ciudadanos = response.data.data;
        }
      });
    },
    agregarTarea() {
      this.submitted = true;
      if (this.$v.$invalid) {
        return false;
      } else {
        updateTarea(this.tarea)
          .then((response) => {
            if (response.data.isSucess) {
              swal(
                "Tarea Actualizada Correctamente",
                response.data.message,
                "success"
              );
              this.$router.push("/Tarea/" + this.tarea.idTarea);
            }
          })
          .catch((error) => {
            swal("Error", error, "error");
          });
      }
    },
    getTarea(id) {
      obtenerTarea(id)
        .then((response) => {
          if (response.data.isSucess) {
            this.tarea = response.data.data;
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>