<section id="items-component">
    <div id="item-list" v-if="tareas && tareas.length >= 1">
      <article
        class="article-item"
        v-for="tarea in tareas"
        :key="tarea.idTarea"
      >
        <div class="image-wrap">
          <img src="https://picsum.photos/130/130" />
        </div>

        <h2><router-link :to="{name:'tarea', params: {id:tarea.idTarea}}">
          {{ tarea.nombre }}
          </router-link></h2>
          <span class="date"> Descripcion: {{ tarea.descripcion }} </span>
        <div class="clearfix"></div>
      </article>
    </div>
    <div v-else-if="tareas && tareas.length < 1">
      No Hay Datos para mostrar
    </div>
    <div v-else>Cargando....</div>
  </section>