<template>
  <div class="general">
    <div class="center">
      <section id="content">
        <h2 class="subheader">Lista de Tareas</h2>
        <div class="form-group">
          <label for="idDia">Dia Semana</label>
          <select v-model="tarea.idDia" @change="onChange($event)">
            <option value="0">Todas Tareas</option>
            <option
              v-for="dia in dias"
              :key="dia.idDia"
              v-bind:value="dia.idDia"
            >
              {{ dia.dia }}
            </option>
          </select>
        </div>
        <hr />
        <div id="articles" v-if="tareas">
          <ItemList :tareas="tareas"></ItemList>
        </div>
      </section>
      <SideBar></SideBar>
      <div class="clearfix"></div>
    </div>
  </div>
</template>
<script>
import { listarTareasbyDay } from "../../actions/TareaActions";
import { listarDias } from "../../actions/DiaSemanaActions";
import moment from "moment";
import ItemList from "./ItemTarea.vue";
import SideBar from "../SideBar.vue";
import Tarea from "../../Models/Tarea";
export default {
  name: "ListadoTareas",
  components: {
    SideBar,
    ItemList,
  },
  data() {
    return {
      dias: [],
      tareas: [],
      tarea: new Tarea(null, null, null, moment().weekday(), null),
    };
  },
  methods: {
    getTareas(diaId) {
      listarTareasbyDay(diaId).then((response) => {
        console.log(response.data.data);
        if (response.data.isSucess) {
          this.tareas = response.data.data;
        }
      });
    },
    getDias() {
      listarDias().then((response) => {
        console.log(response);
        if (response.data.isSucess) {
          this.dias = response.data.data;
        }
      });
    },
    onChange($event){
        this.getTareas($event.target.value);
    }
  },
  mounted() {
    this.getTareas(moment().weekday());
    this.getDias();
  },
};
</script>