<template src="./Tarea.html"></template>
<script>
import { insertTarea } from "../../actions/TareaActions";
import { listarDias } from "../../actions/DiaSemanaActions";
import { listarCiudadanos } from "../../actions/CiudadanoActions";
import { required } from "vuelidate/lib/validators";
import moment from "moment";
import swal from "sweetalert";
import SideBar from "../SideBar.vue";
import Tarea from "../../Models/Tarea";
export default {
  name: "NuevaTarea",
  components: {
    SideBar,
  },
  data() {
    return {
      ciudadanos: [],
      dias: [],
      tarea: new Tarea(0, "", "", moment().weekday(), 1),
      submitted: false,
    };
  },
  validations: {
    tarea: {
      nombre: {
        required,
      },
       descripcion: {
        required,
      },
    },
  },
  methods: {
    getDias() {
      listarDias().then((response) => {
        console.log(response);
        if (response.data.isSucess) {
          this.dias = response.data.data;
        }
      });
    },
    getCiudadanos() {
      listarCiudadanos().then((response) => {
        console.log(response);
        if (response.data.isSucess) {
          this.ciudadanos = response.data.data;
        }
      });
    },
    agregarTarea() {
      this.submitted = true;
      this.$v.$touch();
      if (this.$v.$invalid) {
        return false;
      } else {
        insertTarea(this.tarea)
          .then((response) => {
            if (response.data.isSucess) {
              swal(
                "Tarea Creada Correctamente",
                response.data.message,
                "success"
              );
              this.$router.push("/ListaTareas");
            }
          })
          .catch((error) => {
            swal("Error", error, "error");
          });
      }
    },
  },
  mounted() {
    this.getDias();
    this.getCiudadanos();
  },
};
</script>