<div class="general">
    <div class="center">
      <section id="content">
        <h2 class="subheader" v-if="!isEdit">Nuevo Tarea</h2>
        <h2 class="subheader" v-else="!isEdit">Editar Tarea</h2>
        <form class="mid-form" v-on:submit.prevent="agregarTarea()">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" v-model="tarea.nombre" required />
          </div>
          <p class="text-danger" v-if="submitted && !$v.tarea.nombre.required">
            Este campo es requerido
          </p>
          <div class="form-group">
            <label for="descripcion">Descripcion</label>
            <textarea name="descripcion" v-model="tarea.descripcion" required></textarea>
        </div>
        <p class="text-danger" v-if="submitted && !$v.tarea.descripcion.required">
          Este campo es requerido
        </p>
          <div class="form-group">
            <label for="idDia">Dia Semana</label>
            <select v-model="tarea.idDia">
              <option
                v-for="dia in dias"
                :key="dia.idDia"
                v-bind:value="dia.idDia"
              >
                {{ dia.dia }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="nrociudadano">Esclavo</label>
            <select v-model="tarea.nroCiudadano">
              <option
                v-for="citizen in ciudadanos"
                :key="citizen.nroCiudadano"
                v-bind:value="citizen.nroCiudadano"
              >
                {{ citizen.nombre }} {{ citizen.apellido }}
              </option>
            </select>
          </div>
          <div class="clearfix"></div>
          <input type="submit" value="Enviar" class="btn btn-success" />
        </form>
      </section>
      <SideBar></SideBar>
      <div class="clearfix"></div>
    </div>
  </div>