<template>
  <div class="general">
    <div class="center">
      <section id="content">
        <h2 class="subheader">Esclavos Encontrados</h2>
        <div id="articles" v-if="ciudadanos">
          <ItemList :ciudadanos="ciudadanos"></ItemList>
        </div>
        <div v-else>No Hay esclavos que coincidan con la busqueda</div>
      </section>
      <SideBar></SideBar>
      <div class="clearfix"></div>
    </div>
  </div>
</template>
<script>
import { obtenerCiudadanobyNombre } from "../actions/CiudadanoActions";
import ItemList from "../components/Ciudadano/ItemCiudadano.vue";
import SideBar from "./SideBar.vue";
export default {
  name: "Buscador",
  components: {
    SideBar,
    ItemList,
  },
  data() {
    return { ciudadanos: [] };
  },
  methods: {
    getCiudadano(ciudadanoNombre) {
      obtenerCiudadanobyNombre(ciudadanoNombre)
        .then((response) => {
          if (response.data.isSucess) {
            this.ciudadanos = response.data.data;
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  mounted() {
    var buscadorParam = this.$route.params.ciudadanoNombre;
    this.getCiudadano(buscadorParam);
  },
};
</script>