<template>
  <section id="content">
    <h2 class="subheader">Page no Encontrada</h2>
    <h3>La pagina no existe</h3>
  </section>
</template>
<script>
export default {
  name: "ErrorComponent",
};
</script>