<template>
  <footer id="footer">
    <div class="center">
      <p>&copy; Todos los derechos reservados 2021</p>
    </div>
  </footer>
</template>
<script>
export default {
  name: "FooterComponent",
};
</script>