<template>
           <header id="header">
            <div class="center">
                <div id="logo">
                    <img src="../assets/images/vue.png" class="app-logo" alt="Logotipo" />
                    <span id="brand">
                        <strong>Proyecto</strong>Vue
                    </span>
                </div>
                <nav id="menu">
                    <ul>
                        <li>
                            <router-link to="/home" active-class="active">Inicio</router-link>
                        </li>
                        <li>
                            <router-link to="/ListaTareas" active-class="active">Lista Tareas</router-link>
                        </li>
                        <li>
                            <router-link to="/ListaCiudadanos" active-class="active">Lista Esclavos</router-link>
                        </li>                          
                    </ul>
                </nav>
                <div class="clearfix"></div>
            </div>
        </header>
</template>
<script>
export default {
    name: 'HeaderComponent'
}
</script>
