<template>
  <div class="general">
    <Slider></Slider>
    <div class="center">
      <section id="content">
        <h2 class="subheader">Noticias de Interes</h2>
        <div id="articles">
          <article class="article-item" id="article-template">
            <div class="image-wrap">
              <img
                src="https://i.pinimg.com/236x/6a/ca/e4/6acae438cf0c40879c92aac0165dfcd8--halloween--scarlet.jpg"
                alt="Equilibrio entre malda y salud"
              />
            </div>

            <h2>Como dominar el mundo sin perder su figura</h2>
            <span class="date"> Hace 35 minutos </span>
            <a href="#">Leer más</a>

            <div class="clearfix"></div>
          </article>
          <article class="article-item" id="article-template">
            <div class="image-wrap">
              <img
                src="https://es.web.img2.acsta.net/r_1280_720/newsv7/16/03/21/12/46/5526870.jpg"
                alt="Muy malvado"
              />
            </div>

            <h2>Como ser mas malvado?</h2>
            <span class="date"> Hace 5 minutos </span>
            <a href="#">Leer más</a>

            <div class="clearfix"></div>
          </article>
          <article class="article-item" id="article-template">
            <div class="image-wrap">
              <img
                src="http://cdne.diariocorreo.pe/redactor/uploads/13254115_1170236546360773_6520451337136578160_n.png"
                alt="Vamo a lavarlo"
              />
            </div>

            <h2>Que hacer con dinero robado?</h2>
            <span class="date"> Mas leido ayer </span>
            <a href="#">Leer más</a>

            <div class="clearfix"></div>
          </article>
          <article class="article-item" id="article-template">
            <div class="image-wrap">
              <img
                src="https://i.pinimg.com/originals/5a/31/c8/5a31c824bf69650ff48c0542c6305884.png"
                alt="Zombieland"
              />
            </div>

            <h2>Que hacer con sus zombies?</h2>
            <span class="date"> Hace 2 dias </span>
            <a href="#">Leer más</a>

            <div class="clearfix"></div>
          </article>
        </div>
      </section>
      <SideBar></SideBar>
      <div class="clearfix"></div>
    </div>
  </div>
</template>
<script>
import Slider from "./Slider.vue";
import SideBar from "./SideBar.vue";
export default {
  name: "LastArticles",
  components: {
    Slider,
    SideBar,
  },
};
</script>