<template>
  <h1>Redirigiendo....</h1>
</template>
<script>
export default {
    name:"Redirect",
    mounted() {
        var search = this.$route.params.ciudadanoNombre;
        this.$router.push('/buscador/'+search);
    }
}
</script>
