<template>
  <aside id="sidebar">
    <div id="nav-blog" class="sidebar-item">
      <h3>Acciones disponibles</h3>
      <router-link to="/nuevaTarea" class="btn btn-success"
        >Crear Tarea</router-link
      >
      <router-link to="/nuevoCiudadano" class="btn btn-warning"
        >Agregar Esclavo</router-link
      >
    </div>

    <div id="search" class="sidebar-item">
      <h3>Buscador</h3>
      <p>Encuentra el esclavo que buscas por nombre o apellido</p>
      <form @submit.prevent="search()">
        <input type="text" name="search" v-model="searchString" />
        <input type="submit" name="submit" value="Buscar" class="btn" />
      </form>
    </div>
  </aside>
</template>
<script>
export default {
  name: "Sidebar",
  data() {
    return {
      searchString:null
    };
  },
  methods: {
    search(){
      this.$router.push('/redirect/'+this.searchString);
    }
  },
};
</script>