<template>
           <div id="slider" class="slider-big">
            <h1>Sistema para administrar Esclavos</h1>
            <router-link to="/ListaTareas" class="btn-white">Tareas</router-link>
        </div>
</template>
<script>
export default {
    name: 'Slider'
}
</script>